* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: Arial, sans-serif;
  }
  
  header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	position: relative;
  }
  
  header h1 {
	font-size: 36px;
  }
  
  nav {
	background-color: #4CAF50;
	position: relative;
	z-index: 1;
  }
  
  nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
  }
  
  nav li {
	margin: 0 10px;
  }
  
  nav a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
  }
  
  .clock {
	position: absolute;
	top: 0px;
	right: 10px;
	color: yellow;
  }
  
  nav a:hover {
	background-color: #333;
  }
  
  main {
	margin: 50px auto;
	max-width: 800px;
  }
  
  .testimonial {
	background-color: #f1f1f1;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  }
  
  .testimonial img {
	display: block;
	margin: 0 auto 20px;
	border-radius: 50%;
	width: 100px; /* Adjust the desired size of the images */
	height: 100px; /* Adjust the desired size of the images */
  }
  
  .testimonial p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  .client-name {
	text-align: right;
	font-style: italic;
	font-size: 16px;
  }
  
  footer {
	background-color: #333;
	color: green;
	text-align: center;
  }
  
  .footer-section img {
	width: 50px;
	height: 50px;
  }
  
  @media screen and (max-width: 768px) {
	.container {
	  flex-direction: column;
	}
  
	.house {
	  width: 100%;
	}
  
	#map {
	  height: 300px;
	}
  }
  
  .logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 50px;
	height: 50px;
  }
  